#Google OAuth Client Id Android
GOOGLE_OAUTH_CLIENT_ID_ANDROID=your_google_oauth_android_client_id

#Google OAuth Client Id iOS
GOOGLE_OAUTH_CLIENT_ID_IOS=your_google_oauth_ios_client_id

#Google Callback URL(OAuth)
GOOGLE_CALLBACK_URL_OAUTH=your_google_oauth_callback_url