node_modules/
**/node_modules/
android/
.env
.env.*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log
coverage/
dist/
build/
.DS_Store
.idea/
.vscode/
*.swp
src/generated/
/src/generated/prisma
